body {
    background-color: rgb(220, 230, 224);
    font-family: sans-serif;
}

h4 {
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid;
    margin: 10px;
}

button {
    padding: 5px 10px;
    background-color: rgb(66, 168, 143);
    color: white;
    text-transform: uppercase;
    margin: 5px;
}

input {
    margin: 4px 0;
    padding: 5px;
}

div {
    border-right: 1px solid rgb(243, 243, 243);
    padding: 5px;
    margin: 0 auto;
    padding-top: 30px;
    height: 20vh;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "Get Post Update Delete";
}

.Get {
    grid-area: Get;
}
.usersList {
list-style: none;
text-align: left;
padding: 0;
width: 20vw;
margin: auto;
}
.usersList li {
    border-bottom: 2px solid rgb(219, 233, 219);
    background-color: rgb(236, 245, 243);
    border-radius: 3px;
    padding: 10px 15px;
    font-size: 0.7em;
    text-transform: uppercase;
}

.Post {
    grid-area: Post;
}

.Update {
    grid-area: Update;
}

.Delete {
    grid-area: Delete;
}

.users {
    grid-row: 2;
    grid-column: 1/5;
    border-right: none;
    border-top: 1px solid rgb(243, 243, 243);
    width: 80vw;
    margin-top: 10px;
}